<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>WEB 2: 2.Projekt</title>
    </head>
    <body>
        <div class="container" id="main">
            <h1 v-if="this.vulnerability">Vulnerability je uključen</h1>
            <h1 v-else>Vulnerability je isključen</h1>
            <button v-on:click="setVulnerability()">
                  Uključi/isključi  
            </button>
            <p>1.SQL injection</p>
            <p>Ako bi unijeli u donji input: "1" dobili bi usera sa id=1, dok je vulnerability uključen moguće je napisati: "1 or (1=1)" koji bi vratio sve usere iz tablice user (Ilegalni upiti)</p>
            <p>Također ako bi unijeli: "1; select * from info" ne samo da bi dobili informacije o korisniku sa id 1 također bi dobili sve podatke u tablici info (Ulančani upiti)</p>
            <p>Kada isključimo vulnerability koristimo query placeholder-e od mysql library-a koji onemogućuju ovakve napade.</p>
            <p>Unesite id user-a:</p>
            <input v-model="id" placeholder="Upisi broj id-a">  
            <button v-on:click="getUser()">Dohvati podatak</button>
            <ul v-if="this.info">
                <li v-for="user in users">
                    {{user}}
                </li>
            </ul>
           <div>
               <p>2. Cross-site scripting (XSS) </p>
               <p> Dok je vulnerability uključen moguće je u mjesto za poruku unijeti: &lta onmouseover=window.location.replace("http://www.w3schools.com")>click me! &lt/a&gt </p>
               <p> Kada bi misom dodirnuli "click me!" preusmjerio bi nas na drugu stranicu (potencijalno na stranicu napadača.)</p>
               <p> Također ako bi stavili u poruku &ltimg src="notValidUrl" onerror=alert('HACKED!')&gt bi se u browseru prikazao alert HACKED! (da ova aplikacija nema auth0 autorizaciju te da su cookies postavljeni na "HttpOnly: false" u alert bi mogli staviti document.cookie te bi nam alert prikazao cookie login sjednice te bi napadač mogao preuzeti sjednicu)</p>
               <p> Kada isključimo vulnerability sav tekst napisan u poruci se automatski sprema kao string te prijašnje ranjivosti neće biti moguće.</p>
               <p>Unesi poruku:</p>
               <input v-model="msg" placeholder="Message"></input>
               <button v-on:click="getMsg()">Pošalji poruku</button>
               <p></p>
               <div>
                    <span v-html="message" v-if="vulnerability">
                    </span>
                    <span v-else>
                        {{message}}
                    </span>
                </div>
            </div>
            <div>
                <p>3. Cross Site Request Forgery (CSRF)</p>
                <p>Dok je vulnerability uključen svaki put kada se klikne gumb: "Pošalji poruku" radi se o GET zahtjevu koji pošalje napisanu poruku. Kada kliknemo na gumb: "Napadačeva stranica" preusmjerava nas na napadačevu stranicu gdje bi se trebala učitati slika no u src dijelu slike se nalazi GET zahtjev za poruku HACKED!. (ta poruka se pošalje automatski čim browser korisnika automatski izvodi GET zahtjev unutar src djela img atributa, također korisnik odlaskom na napadačevu stranicu i dalje ima cookie od originalne stranice ako se nije odlogirao te zbog toga može napraviti takav zahtjev.)</p>
                <p>Nakon što otvorite napadačevu stranicu potrebno je ponovno učitati ovu stranicu da se vidi da je napadač poslao poruku HACKED!. Naravno nakon što se isključi vulnerability to više neće biti moguće jer se zahtjev pretvara u POST te više nije moguće preko napadačeve stranice poslati poruku. (također da smo omogućili CORS i to bi bilo rješenje)</p>
                <div>
                    <a href="https://napadac.herokuapp.com/">Napadačeva stranica</a>
                </div>
                <input v-model="csrfMessage" placeholder="message"></input>
                <button v-on:click="sendcsrfMessage()">Pošalji poruku</button>
                <ul>
                    <li v-for="csrfMsg in csrfMessages">
                        {{csrfMsg}}
                    </li>
                </ul>
            </div>
          
        </div>
    </body>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
        var app = new Vue({
            el: '#main',
            data() {
                return {
                    vulnerability: null,
                    info: false,
                    currentUrl: window.location.pathname,
                    splitUrl: [],
                    users: [],
                    id: "",
                    msg:null,
                    message:null,
                    messageLoaded:false,
                    csrfMessages:null,
                    csrfMessage:null,
                    csrfMessagesLoaded: false,
                }
            },
            methods : {
                initialization() {

                this.getVulnerability();
                this.getcsrfMessages();
               

                },
                getVulnerability(){
                    axios
                        .get("/getVulnerability/")
                        .then(response => (this.vulnerability = response.data));
                },
                getUser(){
                    axios
                        .get("/users/"+this.id)
                        .then(response => {
                            this.users = response.data;
                            this.info=true;            
                        });
                },
                setVulnerability(){
                    axios.post("/setVulnerability/").then(response => this.vulnerability=response.data)
                },
                getMsg(){
                    this.message=this.msg;
                    this.messageLoaded=true;
                },
                sendcsrfMessage(){
                    if(this.vulnerability){
                        axios.get("/MessageEntryGet/"+this.csrfMessage).then(response=> {
                        this.csrfMessages=response.data;
                        this.csrfMessagesLoaded=true;
                    })
                    }else{
                        axios.post("/MessageEntry/"+this.csrfMessage).then(response=> {
                        this.csrfMessages=response.data;
                        this.csrfMessagesLoaded=true;
                        })
                    }
                    
                },
                getcsrfMessages(){
                    axios.get("/CSRFMessages/").then(response=>{
                        this.csrfMessages=response.data;
                        if(csrfMessages!=null){
                            this.csrfMessagesLoaded=true;
                        }
                    })
                }
            },
           created(){
               this.initialization();
            }
        })
    </script>
</html>
